<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
    />
    @if(loginForm.get('email')?.hasError('email')) {
    <mat-error>Veuillez entrer une adresse email valide</mat-error>
    } @if(loginForm.get('email')?.hasError('required')) {
    <mat-error>L'adresse email est <strong>requise</strong></mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input type="password" matInput formControlName="password" />
    @if(loginForm.get('password')?.hasError('required')) {
    <mat-error>Mot de passe <strong>requis</strong></mat-error>
    }
  </mat-form-field>
  <ng-content #name>
    
  </ng-content>
  
  <!-- <p style="margin-top: 1rem" class="sm">
    Pas de compte ? <a routerLink="inscription">Inscrivez-vous !</a>
  </p> -->

  <button [disabled]="!loginForm.valid" mat-raised-button color="primary">Se connecter</button>
</form>
