@import "color";

button {
  margin-top: 20px;
  align-self: center;
  padding: 10px 20px;
  
  &.primary {
    border: $border;
    background-color: $primaryColorLightDisabled;

    &:hover {
      box-shadow: $boxShadow;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: $primaryColorLightDisabled;
      color: $secondBackgroundLight;
    }
  }

  &.full-width {
    width: 100%;
  }
}
