@import "color";
.price {
  @include glass-effect();
  @include un-selectable();
  position: absolute;
  top: 10px;
  right: 10px;
  color: $secondBackgroundLight;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 0 $mainBackgroundDark, -1px -1px 0 $mainBackgroundDark,
    -1px 1px 0 $mainBackgroundDark, 1px -1px 0 $mainBackgroundDark,
    1px 0 0 $mainBackgroundDark, -1px 0 0 $mainBackgroundDark,
    0 1px 0 $mainBackgroundDark, 0 -1px 0 $mainBackgroundDark;
}
h2 {
  padding-bottom: 10px;
}
.description {
  color: $secondFontColor;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  margin: 1rem 0;
  padding-bottom: 1rem;
  width: 300px;
  max-height: 400px;
  border: $border;
  position: relative;
  height: 400px;
  &.inactive {
    opacity: 0.5;
    filter: grayscale(90%);
    cursor: pointer;
    transition: $transition;

    &:hover {
      opacity: 1;
      filter: grayscale(80%);
    }
  }
  &.selected {
    box-shadow: $boxShadowPrimary;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 0 10px;
  }
  &.menu {
    height: 500px;
    max-height: 500px;

    .btn-card-content {
      // @include glass-effect();
      position: absolute;
      bottom: 20px;
    }
  }
  transition: $transition;
  &:hover {
    box-shadow: $boxShadow;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10px;
    .header {
      width: 280px;
      display: flex;
      justify-content: space-between;
    }
    .title {
      font-weight: bold;
      font-size: 1.5em;
    }
    .price {
      font-size: 1.5em;
    }
  }
  .description {
    margin-top: 0.5rem;
  }
}
img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin: 0 auto;
}
.card-list-row {
  box-sizing: border-box;
  display: flex; /* Affiche les enfants en ligne */
  flex-wrap: nowrap; /* Empêche les éléments de s'enrouler sur plusieurs lignes */
  overflow-x: scroll; /* Ajoute un défilement horizontal si nécessaire */
  -webkit-overflow-scrolling: touch; /* Optimise le défilement sur les appareils tactiles */
  padding: 2rem;
  width: 100%;
  gap: 2rem;
}
