$mainBackgroundLight: #FBF9FA;
$secondBackgroundLight: rgba(255, 255, 255, 0.856);
$primaryColorLight: #4c71dc;
// $primaryColorLight: rgba(4, 95, 170, 0.973); 
$primaryColorLightHover: rgba(4, 95, 170, 0.863);
$primaryColorLightSelected: rgba(4, 95, 170, 0.151);
$fontColor: #222222c9;
$secondFontColor : #6a6a6a; 
//$primaryColorLightDisabled: #d62828ab;
$primaryColorLightDisabled: rgba(139, 201, 252, 0.865);

$mainBackgroundDark: #27213C;   
$primaryColorDark: #F77F00;

$border: 1px solid rgba(0, 0, 0, 0.171);
$boxShadow: 0 2px 4px 0 rgba(0,0,0,0.18);
$boxShadowPrimary: 0 0px 2px 2px $primaryColorLightDisabled;

$successColor: #6ef18d69;
$errorColor: #ff001970;

$borderRadius: 8px;
$transition: all 0.2s ease-in-out;



@mixin glass-effect() {
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@mixin un-selectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}