@import "color";
ul {
  border-top: 1px solid rgb(235, 235, 235) !important;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
  }
  li {
    display: flex;
    width: 70px;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    color: $secondFontColor;
    &.active {
      color: $primaryColorLight !important;
      span {
        color: $primaryColorLight !important;
      }
    }
    fa-icon {
      font-size: 1.6rem;
      margin-bottom: 0.4rem;
    }
    span {
      font-size: 0.8rem;
    }
}
