$breakpoints: (
  littlePhone: 350px,
  phone: 400px,
  bigPhone: 480px,
  tinyTablet: 550px,
  tablet: 600px,
  bigTablet: 700px,
  littleLaptop: 800px,
  laptop: 900px,
  bigLaptop: 1200px,
  desktop: 1600px,
);

@mixin breakpoints($size, $maxOrMin: max) {
  $width: map-get($breakpoints, $size);

  @if ($maxOrMin == max) {
    @media (max-width: $width) {
      @content;
    }
  } @else if ($maxOrMin == min) {
    @media (min-width: calc($width + 1px)) {
      @content;
    }
  }
}
/*
  How to include
  @include breakpoints(parameters){
      SCSS
  }
  */
