@import "responsive";

.wrap-lg {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
}

.wrap {
  max-width: 1400px;
  margin: 0 auto;
  // margin-bottom: 3rem;
  padding: 0 40px;
  @include breakpoints(tinyTablet) {
    padding: 0;
  }
  &.padding-top {
    padding-top: 2rem;
    @include breakpoints(tinyTablet) {
      padding: 1rem 0;
    }
  }
}

.wrap-sm {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrap-xs {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
