@if(currentUseRole$ | async; as currentUseRole) {
  @switch (currentUseRole) {
    @case (useCurrentRoleEnum.NOT_LOGGED) { <app-nav-not-logged /> }

    @case (useCurrentRoleEnum.USER) { <app-nav-user-logged /> }

    @case (useCurrentRoleEnum.COOKER) { <app-nav-cooker-logged /> }
    
    @case (useCurrentRoleEnum.ADMIN) { <app-nav-admin-logged /> }



  }
} 
@else {
  <app-nav-loading />
}

