<div id="app">
  <header class="desktop">
    <app-navbar-desktop />
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="mobile">
    <app-navbar></app-navbar>
  </footer>

  <footer class="desktop">
    <app-footer-desktop />
  </footer>
</div>

<app-refresh-tokens/>
<app-store-allergen/>