@import "responsive";
@import "color";
#app {
  .mobile {
    display: none;
  }
  header {
    height: 80px;
    display: flex;
    align-content: center;
    border-bottom: $border;
  }
  footer {
    width: 100%;
    background-color: $secondBackgroundLight;
    z-index: 999;
    border-top: $border;
    position: fixed;
    bottom: 0;
  }
  @include breakpoints(laptop, min) {
    .mobile {
      display: none;
    }

    .desktop {
      display: block;
    }
  }

  @include breakpoints(laptop) {
    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }

    main {
      height: calc(100svh - 75px);
      overflow-y: scroll;
    }

    footer {
      height: 75px;
    }
  }
}
