// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import "./assets/scss/color.scss";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-primary: mat.define-palette(mat.$blue-palette);
$angular-accent: mat.define-palette(mat.$blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-theme);

/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.mdc-checkbox__background {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;

  transition: border-color 90ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    background-color 90ms cubic-bezier(0, 0, 0.2, 1) 0ms !important;
  will-change: border-color, background-color !important;
}

.mdc-checkbox__checkmark {
  color: $mainBackgroundLight !important;
  background-color: $primaryColorLight !important;
  border-color: $primaryColorLight !important;
  border: $border;
}

.mdc-checkbox__checkmark-path {
  stroke: $mainBackgroundLight !important;
}

.mdc-checkbox
  .mdc-checkbox__native-control:enabled:checked
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control:enabled:indeterminate
  ~ .mdc-checkbox__background,
.mdc-checkbox
  .mdc-checkbox__native-control[data-indeterminate="true"]:enabled
  ~ .mdc-checkbox__background {
  border-color: $primaryColorLight !important;
}

.mat-mdc-button-touch-target {
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
}
.mat-step-icon-selected {
  background-color: $primaryColorLight !important;
  color: white !important;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $mainBackgroundLight;
}
button {
  border-radius: 100rem !important;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

.mdc-snackbar.mat-mdc-snack-bar-container.mdc-snackbar--open {
  margin-bottom: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 500px;
  width: 80svw;
  min-width: 300px !important;
}

.sm {
  font-size: 12px;
  color: $secondFontColor;
}

.md {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.lg {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: $fontColor;
}
p,
li,
a {
  color: $fontColor;
}

a {
  text-decoration: none;
  cursor: pointer;
}
